.ada {
  width: $ada-width;
  height: $ada-height;
  //background: $ada-bgcolor;
  background-image: url("../img/ada-bg.png");
  position: relative;

  em.main-ada-title {
    position: absolute;
    height: 52px;
    left: 21.27%;
    right: 20.83%;
    top: calc(50% - 52px / 2 - 67.5px);
    @extend %main-ada-title-font;
  }

  em.ada-description {
    position: absolute;
    height: 16px;
    left: 23.52%;
    right: 26.91%;
    top: calc(50% - 16px / 2 - 1.5px);
    @extend %ada-description-font;
  }

  .button-try {
    position: absolute;
    left: 32.99%;
    right: 50.35%;
    top: 63.57%;
    bottom: 23.51%;
    border-radius: 23px;
    padding: 5px 45px;
    @extend %ada-button-try-font;
  }

  .button-watch-demo {
    position: absolute;
    left: 50.87%;
    right: 32.47%;
    top: 63.57%;
    bottom: 23.51%;
    border: 2px solid #FFFFFF;
    border-radius: 23px;
    background-color: #007FFC;
    padding: 5px 45px;
    @extend %button-watch-demo-font;
  }
}