
$main-layout-bgcolor: rgba(238, 220, 220, .2);
$header-bgcolor: rgba(100, 100, 100, .01);
$banner-bgcolor: rgba(100, 100, 100, .01);
$service-bgcolor: rgba(100, 100, 100, .01);
$features-bgcolor: rgba(100, 100, 100, .01);
$price-plan-bgcolor: rgba(100, 100, 100, .01);
$ada-bgcolor: rgba(100, 100, 100, .3);
$footer-bgcolor: #16143D;

//HEADER
$header-login-button-bgcolor: #16133E;
$header-login-button-border: #16133E;
$header-sign-in-button-bgcolor: #000;
$header-sign-in-button-border: #16133E;
$header-line-bgcolor: #EFEEF3;

//BANNER
$right-arrow-bgimg: url(../img/arrow-right.png);
$left-arrow-bgimg: url(../img/arrow-left.png);
$arrow-bgcolor: #16133E;
$rectangle-x-bgimg: url(../img/rectangle-x.png);
$view-projects-in-banner-link-bgcolor: #007FFC;
$learn-more-in-banner-link-border: #007FFC;

//SERVICE
$service-group-bgcolor: #eaebef;
$service-group-border: #E5EAF4;
$group-icon-border: grey;

//FEATURES
$img-placeholder-left-bgimg: url(../img/features-img-1.png);
$img-placeholder-right-bgimg: url(../img/features-img-2.png);

//PRICE-PLAN
$started-plan-bgcolor: rgba(100, 100, 100, .03);
$started-plan-shadow: 0px 2px 35px rgba(0, 0, 0, 0.03);
$button-get-started-bgcolor: lightyellow;
$button-get-started-border: black;
$started-plan-first-thick-line: #0593FA;
$started-plan-second-thick-line: #56CBAE;
$started-plan-third-thick-line: #FA6770;

