
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

%header-login-title-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: calc(0.6vw + 0.6rem);
  line-height: 16px;
  /* identical to box height, or 100% */
  color: #FFFFFF;
}

%header-sign-in-title-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: calc(0.6vw + 0.6rem);
  line-height: 16px;
  /* identical to box height, or 100% */
  color: #000000;
}

%header-blog-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  color: #000000;
}

%header-pages-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  color: #000000;
}

%header-portfolio-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  color: #000000;
}

%header-home-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  color: #000000;
}

%view-projects-in-banner-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  color: #FFFFFF;
}

%learn-more-in-banner-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  color: #007FFC;
}

%lorem-ipsum-in-banner-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 36px;
  /* or 189% */
  color: #183B56;
}

%freehand-your-brand-font {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 68px;
  /* or 121% */
  color: #16133E;
}

%first-service-title-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  text-transform: uppercase;
  color: #87A1B6;
}

%main-service-title-font {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  /* identical to box height, or 130% */
  color: #16133E;
}

%service-description-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  /* identical to box height, or 89% */
  color: #5A7184;
}

%service-group-header-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 52px;
  /* identical to box height, or 217% */
  color: #16133E;
}

%service-group-content-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  color: #16133E;
}

%service-group-end-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 52px;
  /* identical to box height, or 325% */
  color: #16133E;
}

%first-features-title-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  color: #87A1B6;
}

%main-features-title-font {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  /* identical to box height, or 130% */
  color: #16133E;
}

%features-description-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  /* identical to box height, or 89% */
  color: #5A7184;
}

%features-img-placeholder-left-font {
  bottom: 10%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  /* or 133% */
  color: #FFFFFF;
}

%features-img-placeholder-right-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  /* or 133% */
  color: #FFFFFF;
}

%main-prices-title-font {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  /* identical to box height, or 130% */
  color: #16133E;
}

%prices-description-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  /* identical to box height, or 89% */
  color: #5A7184;
}

%prices-plan-name-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  color: #16133E;
}

%prices-plan-cost-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  /* identical to box height, or 130% */
}

%prices-plan-periodicity-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #87A1B6;
}

%prices-plan-description-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  color: #87A1B6;
}

%main-ada-title-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  /* identical to box height, or 130% */
  color: #FFFFFF;
}

%ada-description-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  /* identical to box height, or 89% */
  color: #FFFFFF;
}

%ada-button-try-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  color: #16133E;
}

%button-watch-demo-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  color: #FFFFFF;
}

%foo-general-info-description-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  color: #FFFFFF;
}

%foo-services-em-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  /* identical to box height, or 129% */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

%foo-services-ul-li-a-font {
  text-decoration: none;
  letter-spacing: 1.76471px;
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}

%foo-company-em-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  /* identical to box height, or 129% */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

%foo-company-ul-li-a-font {
  text-decoration: none;
  letter-spacing: 1.76471px;
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}

%foo-contacts-em-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

%foo-contacts-ul-li-a-font {
  text-decoration: none;
  letter-spacing: 1.76471px;
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}
