.footer {
  @extend %footer-size;
  padding-top: $footer-padding-top;
  background: $footer-bgcolor;

  > * {
    padding: $footer-child-padding;
  }

  ul {
    list-style-type: none;
    padding-inline-start: 5px;
  }

  li {
    margin-bottom: 20px;
  }

  a {
    @extend %footer-link-font;
    color: $footer-link-color;
  }

  .general-info {

    .general-info-description {
      display: block;
      padding: 2vw;
      @extend %footer-general-info-description-font;
      color: $footer-general-info-description-color;
    }
  }

  .services {
    em {
      height: 22px;
      @extend %footer-child-em-font;
      color: $footer-services-em-color;
    }
  }

  .company {
    em {
      height: 22px;
      @extend %footer-child-em-font;
      color: $footer-company-em-color;
    }
  }

  .contacts {
    em {
      height: 22px;
      @extend %footer-child-em-font;
      color: $footer-contacts-em-color;
    }
  }

  .copyright {
    text-align: center;
    padding: 8px;

    em.copyright-text {
      color: $footer-copyright-em-color;
    }
  }
}