.free {
  @extend %free-size;
  background-image: url("../img/ada-bg.png");
  padding: $free-padding;

  .section-title > * {
    color: $free-section-title-color;
  }

  .section-description > * {
    color: $free-section-description-color;
  }

  button {
    margin: 0 max(10px, 2vw);
  }

  .button-try {
    border-radius: 23px;
    padding: 5px 45px;
    @extend %free-button-try-font;
    color: $free-button-try-color;
  }

  .button-watch-demo {
    border: 2px solid $free-button-watch-demo-color;
    border-radius: 23px;
    background-color: $free-button-watch-demo-bgcolor;
    padding: 5px 45px;
    @extend %free-button-watch-demo-font;
    color: $free-button-watch-demo-color;
  }
}