
.main-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  .header {
    display: grid;
    grid-template-areas:
    "logo header-links header-links login"
    "line line line line";
    grid-template-rows: auto;
    grid-template-columns: 30% 1fr 1fr 30%;

    .logo {
      grid-area: logo;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    .header-link-box {
      grid-area: header-links;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
    }

    .login {
      grid-area: login;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
    }

    .line {
      grid-area: line;
    }
  }

  .banner {
    display: grid;
    grid-template-areas:
    "section-title slider-wrapper"
    "section-description slider-wrapper"
    "button-box slider-wrapper";
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;

    .section-title {
      grid-area: section-title;
    }

    .section-description {
      grid-area: section-description;
    }

    .slider-wrapper {
      grid-area: slider-wrapper;
    }

    .button-box {
      grid-area: button-box;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }

  .service {
    display: grid;
    grid-template-areas:
    "pre-section-title . ."
    "section-title section-title section-title"
    "section-description section-description section-description"
    "content-group-1 content-group-2 content-group-3";
    grid-template-rows: 1fr 1fr 1fr 3fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;

    .pre-section-title {
      grid-area: pre-section-title;
    }

    .section-title {
      grid-area: section-title;
    }

    .section-description {
      grid-area: section-description;
    }

    .content-group-1 {
      grid-area: content-group-1;
    }

    .content-group-2 {
      grid-area: content-group-2;
    }

    .content-group-3 {
      grid-area: content-group-3;
    }

    .content-group {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  .features {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .img-placeholder {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      //gap: 18px;
    }
  }

  .price {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;

    .price-layout {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-end;
      gap: 25px;
      .started-plan {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
      }
    }
  }

  .free {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    .button-box {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly ;
      align-items: center;
    }
  }

  .footer {
    display: grid;
    grid-template-areas:
    "general-info services company contacts"
    "copyright copyright copyright copyright";
    grid-template-rows: 1fr 15%;
    //grid-template-columns: 36vw 1fr 1fr 22vw;
    grid-template-columns: auto;
    gap: 3px 3px;

    .general-info {
      grid-area: general-info;
      .network-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2.3vw;
      }
    }

    .services {
      grid-area: services;
    }

    .company {
      grid-area: company;
    }

    .contacts {
      grid-area: contacts;
    }

    .copyright {
      grid-area: copyright;
    }
  }

}

//HEADER, FOOTER, SECTIONS BETWEEN THEM
//
//      flex          grid
//      ---------|--------------
//                    |---child
//      HEADER  ------|---child
//         |          |---child
//         |
//         |          |---child
//      SECTION ------|---child
//         |          |---child
//         |
//         |          |---child
//      SECTION ------|---child
//         |          |---child
//         |
//         |          |---child
//      SECTION ------|---child
//         |          |---child
//         |
//         |          |---child
//      SECTION ------|---child
//         |          |---child
//         |
//         |          |---child
//      SECTION ------|---child
//         |          |---child
//         |
//         |          |---child
//      FOOTER  ------|---child
//                    |---child