.header {
  @extend %header-size;
  background-color: $header-bgcolor;

  .logo {

    .logo-img {
      margin: 10px;
      height: 30px;
    }
  }

  .header-link-box {

    .header-link {
      height: 16px;
      margin: 0.3rem;
      margin-top: 20px;
      color: $header-link-color;
      @extend %header-link-font;
    }

  }

  .login {

    .login-btn {
      border-radius: 8px;
      margin: 10px;
      @extend %header-login-btn;

      &.log-in {
        background: $header-log-in-bgcolor;
        border: 2px solid $header-log-in-border;
        @extend %header-login-btn-font;
        color: $header-log-in-color;
      }

      &.sign-in {
        border: 2px solid $header-sign-in-border;
        @extend %header-login-btn-font;
        color: $header-sign-in-color;
      }
    }
  }

  .line {
    border: 1px solid $header-line;
  }
}
