

%header-menu-links-size {
  width: clamp(60px, 2.5vw + 2.5em, 90px);
  height: 16px;
  text-align: center;
}


//@mixin main-sides-padding {
//  padding-left: calc(16px + (60 - 16) * ((100vw - 320px) / (1200 - 320)));
//  padding-right: calc(16px + (60 - 16) * ((100vw - 320px) / (1200 - 320)));
//  @media (min-width: 1200px) {
//    padding-left: 60px;
//    padding-right: 60px;
//  }
//   }