.price-plan {
  width: $price-plan-width;
  height: $price-plan-height;
  background: $price-plan-bgcolor;
  position: relative;
  em.main-prices-title {
    position: absolute;
    height: 52px;
    left: 0%;
    right: 27.37%;
    top: calc(50% - 52px / 2 - 279px);
    @extend %main-prices-title-font;
  }

  em.prices-description {
    position: absolute;
    height: 16px;
    left: 0%;
    right: 39.04%;
    top: calc(50% - 16px / 2 - 230px);
    @extend %prices-description-font;
  }

  .started-plan {
    position: absolute;
    background: $started-plan-bgcolor;
    box-shadow: $started-plan-shadow;
    border-radius: 0px 0px 8px 8px;

    .plan-name {
      display: block;
      position: absolute;
      height: 32px;
      left: 34%;
      right: 34%;
      top: 15%;
      @extend %prices-plan-name-font;
    }

    .plan-cost {
      display: block;
      position: absolute;
      height: 52px;
      left: 39%;
      right: 39%;
      top: 32%;
      margin: 0 auto;
      text-align: center;
      @extend %prices-plan-cost-font;
    }

    .plan-periodicity {
      display: block;
      position: absolute;
      height: 24px;
      left: 40%;
      right: 40%;
      margin: 0 auto;
      top: 42%;
      @extend %prices-plan-periodicity-font;
    }

    .plan-description {
      display: block;
      position: absolute;
      height: 56px;
      left: 85px;
      right: 85px;
      top: 54%;
      margin: 0 auto;
      text-align: center;
      @extend %prices-plan-description-font;
    }

    .button-get-started {
      position: absolute;
      bottom: 56px;
      right: 92px;
      left: 92px;
      border-radius: 25px;
      padding: 8px 20px;
      margin: 0 auto;
      border: 2px solid $button-get-started-border;
      background: $button-get-started-bgcolor;
      width: 181px;
      height: 50px;
    }
  }

  .started-plan-first {
    left: 0.18%;
    right: 68.07%;
    top: 28.52%;
    bottom: 0%;

    .thick-line {
      background: $started-plan-first-thick-line;
    }

    .plan-cost {
      color: $started-plan-first-thick-line;
    }
  }

  .started-plan-second {
    left: 34.21%;
    right: 34.04%;
    top: 28.52%;
    bottom: 0%;

    .thick-line {
      background: $started-plan-second-thick-line;
    }

    .plan-cost {
      color: $started-plan-second-thick-line;
    }
  }

  .started-plan-third {
    left: 68.25%;
    right: 0%;
    top: 28.52%;
    bottom: 0%;

    .thick-line {
      background: $started-plan-third-thick-line;
    }

    .plan-cost {
      color: $started-plan-third-thick-line;
    }
  }

  .thick-line {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 4px;
  }

}