.price {
  @extend %price-size;
  background: $price-bgcolor;

  .started-plan {
    background: $price-started-plan-bgcolor;
    box-shadow: $price-started-plan-shadow;
    border-radius: 0px 0px 8px 8px;
    padding-top: 0;
    padding-bottom: 40px;
    @extend %price-started-plan-size;

    .thick-line {
      @extend %price-started-plan-thick-line-size;
      margin: 0;
    }

    .plan-name {
      @extend %price-plan-name-font;
      color: $price-plane-name-color;
    }

    .plan-cost {
      @extend %price-plan-cost-font;
    }

    .plan-periodicity {
      @extend %price-plan-periodicity-font;
      color: $price-plan-periodicity-color;
    }

    .plan-description {
      display: block;
      width: 70%;
      @extend %price-plan-description-font;
      color: $price-plan-description-color;
    }

    .button-get-started {
      border-radius: 25px;
      //padding: 8px 20px;
      //margin: 0 auto;
      border: 2px solid $price-button-get-started-border;
      background: $price-button-get-started-bgcolor;
      @extend %price-button-get-started-size;
    }

    &.started-plan-first {

      .thick-line {
        background: $price-started-plan-first-thick-line-bgcolor;
      }

      .plan-cost {
        color: $price-started-plan-first-plan-cost-color;
      }
    }

    &.started-plan-second {

      .thick-line {
        background: $price-started-plan-second-thick-line-bgcolor;
      }

      .plan-cost {
        color: $price-started-plan-second-plan-cost-color;
      }
    }

    &.started-plan-third {

      .thick-line {
        background: $price-started-plan-third-thick-line-bgcolor;
      }

      .plan-cost {
        color: $price-started-plan-third-plan-cost-color;
      }
    }
  }

}