
.service {
  @extend %service-size;
  background: $service-bgcolor;

  .content-group {
    border: 1px solid $service-content-group-border;
    border-radius: 8px;
    background-color: $service-content-group-bgcolor;
    padding: $service-content-group-padding;

    .group-icon {
      @extend %service-content-group-icon-size;
      display: block;
      margin-bottom: 10px;
      padding: 8px;
      border: 2px solid $service-group-icon-border;
      border-radius: 8px;
    }

    .group-header {
      @extend %service-group-header-font;
      color: $service-group-header-color;
    }

    .group-content {
      @extend %service-group-content-font;
      color: $service-group-content-color;
    }

    .learn-more {
      @extend %service-group-learn-more-font;
      color: $service-group-learn-more-color;
    }
  }
}

