
%test-mode {
  border: 1px solid dimgray;
}

%main-layout-size {
  width: min(100%, 1440px);
  height: 4294px;
}

%header-size {
  width: min(100%, 1159px);
  height: 86px;
}

%logo-size {
  //width: 194.71px;
  //height: 27.6px;
}