

$main-layout-width: min(95%, 1200px);
$main-layout-height: 4294px;

$header-width: min(1159px, 95%);
$header-height: 86px;

$banner-width: min(1175px, 95%);
$banner-height: 420px;

$service-width: min(1162px, 95%);
$service-height: 529px;

$features-width: min(1157px, 95%);
$features-height: 693px;

$price-plan-width: min(1140px, 95%);
$price-plan-height: 610px;

$ada-width: min(1152px, 95%);
$ada-height: 387px;

$footer-width: min(1440px, 95%);
$footer-height: 574px;


