@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");
.header .header-link-box .header-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: calc(0.7rem + 0.5vw);
  line-height: 16px;
}

.header .login .login-btn.sign-in, .header .login .login-btn.log-in {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.banner .button-box .learn-more, .banner .button-box .view-projects {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

section .pre-section-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

section .section-title > * {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
}

section .section-description > * {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
}

.main-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.main-layout .header {
  display: grid;
  grid-template-areas: "logo header-links header-links login" "line line line line";
  grid-template-rows: auto;
  grid-template-columns: 30% 1fr 1fr 30%;
}
.main-layout .header .logo {
  grid-area: logo;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.main-layout .header .header-link-box {
  grid-area: header-links;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.main-layout .header .login {
  grid-area: login;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.main-layout .header .line {
  grid-area: line;
}
.main-layout .banner {
  display: grid;
  grid-template-areas: "section-title slider-wrapper" "section-description slider-wrapper" "button-box slider-wrapper";
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}
.main-layout .banner .section-title {
  grid-area: section-title;
}
.main-layout .banner .section-description {
  grid-area: section-description;
}
.main-layout .banner .slider-wrapper {
  grid-area: slider-wrapper;
}
.main-layout .banner .button-box {
  grid-area: button-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.main-layout .service {
  display: grid;
  grid-template-areas: "pre-section-title . ." "section-title section-title section-title" "section-description section-description section-description" "content-group-1 content-group-2 content-group-3";
  grid-template-rows: 1fr 1fr 1fr 3fr;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}
.main-layout .service .pre-section-title {
  grid-area: pre-section-title;
}
.main-layout .service .section-title {
  grid-area: section-title;
}
.main-layout .service .section-description {
  grid-area: section-description;
}
.main-layout .service .content-group-1 {
  grid-area: content-group-1;
}
.main-layout .service .content-group-2 {
  grid-area: content-group-2;
}
.main-layout .service .content-group-3 {
  grid-area: content-group-3;
}
.main-layout .service .content-group {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.main-layout .features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.main-layout .features .img-placeholder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.main-layout .price {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
}
.main-layout .price .price-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 25px;
}
.main-layout .price .price-layout .started-plan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.main-layout .free {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.main-layout .free .button-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.main-layout .footer {
  display: grid;
  grid-template-areas: "general-info services company contacts" ". copyright copyright .";
  grid-template-rows: 4fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main-layout .footer .general-info {
  grid-area: general-info;
}
.main-layout .footer .services {
  grid-area: services;
}
.main-layout .footer .company {
  grid-area: company;
}
.main-layout .footer .contacts {
  grid-area: contacts;
}
.main-layout .footer .copyright {
  grid-area: copyright;
}

.free {
  border: 1px solid dimgray;
}

.banner .button-box, section .section-description, section .section-title {
  padding-left: calc(.3em + 0.3rem + 1vw);
  padding-right: calc(.3em + 0.3rem + 1vw);
}

.main-layout {
  width: min(100%, 1440px);
  height: 4294px;
}

.header {
  width: clamp(640px, 100%, 1160px);
  height: 86px;
}

.header .login .login-btn {
  width: clamp(100px, 4vw + 4rem, 160px);
  height: calc(16px + 1.5rem);
}

.banner {
  width: clamp(640px, 100%, 1160px);
  height: 420px;
}

.banner .slider-wrapper {
  width: 580px;
  height: 420px;
}

.banner .section-title {
  width: max(100%, 150px);
}

.banner .button-box {
  gap: calc(3px + 0.2rem + 1vw);
  width: max(100%, 150px);
  height: max(62px, 100%);
}

.banner .button-box .learn-more, .banner .button-box .view-projects {
  width: clamp(100px, 5rem + 6vw, 152px);
  height: clamp(30px, 20px + 3vw, 46px);
}

.service {
  width: clamp(640px, 100%, 1160px);
  height: 529px;
}

* {
  box-sizing: border-box;
}

section .pre-section-title {
  padding: 8px;
  color: #87A1B6;
}
section .section-title > * {
  color: #16133E;
  margin: 0;
}
section .section-description > * {
  color: #5A7184;
  margin: 0;
}

.main-layout {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: rgba(238, 220, 220, 0.2);
}

.header {
  background-color: rgba(100, 100, 100, 0.01);
}
.header .logo .logo-img {
  margin: 10px;
  height: 30px;
}
.header .header-link-box .header-link {
  height: 16px;
  margin: 0.3rem;
  margin-top: 20px;
  color: #000000;
}
.header .login .login-btn {
  border-radius: 8px;
  margin: 10px;
}
.header .login .login-btn.log-in {
  background: #16133E;
  border: 2px solid #16133E;
  color: #FFFFFF;
}
.header .login .login-btn.sign-in {
  border: 2px solid #16133E;
  color: #000000;
}
.header .line {
  border: 1px solid #EFEEF3;
}

.banner {
  background-color: rgba(100, 100, 100, 0.1);
}
.banner .slider-wrapper {
  position: relative;
}
.banner .slider-wrapper .slider {
  background: gray;
  border-radius: 8px;
}
.banner .slider-wrapper .control {
  width: 22px;
  height: 22px;
  padding: 15px;
  border: 1px solid silver;
  border-radius: 8px;
  position: absolute;
  z-index: 5;
  background-color: #16133E;
  background-repeat: no-repeat;
  background-position: center;
}
.banner .slider-wrapper .control.prev-img {
  top: 174px;
  left: -10px;
  background-image: url("../img/arrow-left.png");
}
.banner .slider-wrapper .control.next-img {
  top: 174px;
  right: -10px;
  background-image: url("../img/arrow-right.png");
}
.banner .button-box .view-projects {
  background: #007FFC;
  border-radius: 8px;
  color: #FFFFFF;
}
.banner .button-box .learn-more {
  border: 2px solid #007FFC;
  border-radius: 8px;
  color: #007FFC;
}

.service {
  background: rgba(100, 100, 100, 0.1);
}
.service .content-group {
  border: 1px solid #143f98;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #eaebef;
  padding: clamp(12px, 2.5vw, 40px);
}
.service .content-group .group-icon {
  width: 46px;
  height: 42px;
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  border: 2px solid grey;
  border-radius: 8px;
}
.service .content-group .group-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 52px;
  color: #16133E;
}
.service .content-group .group-content {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #16133E;
}
.service .content-group .learn-more {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 52px;
  color: #16133E;
}

.features {
  width: clamp(640px, 100%, 1160px);
  height: 693px;
  background: rgba(100, 100, 100, 0.01);
}
.features .img-placeholder {
  width: clamp(600px, 100%, 1200px);
}
.features .img-placeholder .card {
  position: relative;
  border-radius: 8px;
}
.features .img-placeholder .card .features-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.features .img-placeholder .card .comment-img {
  display: block;
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 10%;
  top: 70%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(18px, 3vw, 36px);
  line-height: clamp(24px, 4.5vw, 48px);
  color: #FFFFFF;
}

.price {
  width: min(1140px, 100%);
  height: 610px;
  background: rgba(100, 100, 100, 0.01);
}
.price .started-plan {
  background: #FFFFFF;
  background: rgba(100, 100, 100, 0.3);
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.03);
  border-radius: 0px 0px 8px 8px;
  padding-top: 0;
  padding-bottom: 40px;
  width: clamp(200px, calc(100% - 4vw / 3 * 10px), 362px);
  height: min(436px, 280px + 8vw);
}
.price .started-plan .thick-line {
  width: 100%;
  height: calc(1vw / 3);
  margin: 0;
}
.price .started-plan .plan-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #16133E;
}
.price .started-plan .plan-cost {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}
.price .started-plan .plan-periodicity {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #87A1B6;
}
.price .started-plan .plan-description {
  display: block;
  width: 70%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #87A1B6;
}
.price .started-plan .button-get-started {
  border-radius: 25px;
  border: 2px solid black;
  background: lightyellow;
  width: min(181px, 2rem + 16vw);
  height: min(50px, 1rem + 2vw);
}
.price .started-plan.started-plan-first .thick-line {
  background: #0593FA;
}
.price .started-plan.started-plan-first .plan-cost {
  color: #0593FA;
}
.price .started-plan.started-plan-second .thick-line {
  background: #56CBAE;
}
.price .started-plan.started-plan-second .plan-cost {
  color: #56CBAE;
}
.price .started-plan.started-plan-third .thick-line {
  background: #FA6770;
}
.price .started-plan.started-plan-third .plan-cost {
  color: #FA6770;
}

.free {
  width: min(100%, 1152px);
  height: 387px;
  background-image: url("../img/ada-bg.png");
  padding: clamp(20px, calc((100% - 400px) / 2) , 60px);
}
.free .section-title > * {
  color: #FFFFFF;
}
.free .section-description > * {
  color: #FFFFFF;
}
.free button {
  margin: 0 max(10px, 2vw);
}
.free .button-try {
  border-radius: 23px;
  padding: 5px 45px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #16133E;
}
.free .button-watch-demo {
  border: 2px solid #FFFFFF;
  border-radius: 23px;
  background-color: #007FFC;
  padding: 5px 45px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer {
  width: min(100%, 1440px);
  height: 574px;
  background: #16143D;
}

/*# sourceMappingURL=style.css.map */
