.header .header-link-box .header-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: calc(1rem + 1vw);
  line-height: 16px;
}

.main-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
}
.main-layout .header {
  display: grid;
  grid-template-areas: "logo header-links header-links login" "line line line line";
  grid-template-rows: auto;
  grid-template-columns: 30% 1fr 1fr 30%;
}
.main-layout .header .logo {
  grid-area: logo;
}
.main-layout .header .header-link-box {
  grid-area: header-links;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.main-layout .header .login {
  grid-area: login;
}
.main-layout .header .line {
  grid-area: line;
}
.main-layout .banner {
  display: grid;
  grid-template-areas: "section-title slider-wrapper" "section-description slider-wrapper" "button-box slider-wrapper";
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.main-layout .banner .section-title {
  grid-area: section-title;
}
.main-layout .banner .section-description {
  grid-area: section-description;
}
.main-layout .banner .slider-wrapper {
  grid-area: slider-wrapper;
}
.main-layout .banner .button-box {
  grid-area: button-box;
}
.main-layout .service {
  display: grid;
  grid-template-areas: "pre-section-title . ." "section-title section-title section-title" "section-description section-description section-description" "content-group-1 content-group-2 content-group-3";
  grid-template-rows: 1fr 1fr 1fr 3fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.main-layout .service .pre-section-title {
  grid-area: pre-section-title;
}
.main-layout .service .section-title {
  grid-area: section-title;
}
.main-layout .service .section-description {
  grid-area: section-description;
}
.main-layout .service .content-group-1 {
  grid-area: content-group-1;
}
.main-layout .service .content-group-2 {
  grid-area: content-group-2;
}
.main-layout .service .content-group-3 {
  grid-area: content-group-3;
}
.main-layout .features {
  display: grid;
  grid-template-areas: "pre-section-title ." "section-title section-title " "section-description section-description" "img-placeholder-1 img-placeholder-2";
  grid-template-rows: 1fr 1fr 1fr 4fr;
  grid-template-columns: 1fr 1fr;
}
.main-layout .features .pre-section-title {
  grid-area: pre-section-title;
}
.main-layout .features .section-title {
  grid-area: section-title;
}
.main-layout .features .section-description {
  grid-area: section-description;
}
.main-layout .features .img-placeholder-1 {
  grid-area: img-placeholder-1;
}
.main-layout .features .img-placeholder-2 {
  grid-area: img-placeholder-2;
}
.main-layout .price {
  display: grid;
  grid-template-areas: "section-title section-title section-title" "section-description section-description section-description" "started-plan-first started-plan-second started-plan-third";
  grid-template-rows: 1fr 1fr 4fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.main-layout .price .section-title {
  grid-area: section-title;
}
.main-layout .price .section-description {
  grid-area: section-description;
}
.main-layout .price .started-plan-first {
  grid-area: started-plan-first;
}
.main-layout .price .started-plan-second {
  grid-area: started-plan-second;
}
.main-layout .price .started-plan-third {
  grid-area: started-plan-third;
}
.main-layout .free {
  display: grid;
  grid-template-areas: "section-title" "section-description" "button-box";
  grid-template-rows: 1fr 1fr 2fr;
  grid-template-columns: auto;
}
.main-layout .free .section-title {
  grid-area: section-title;
}
.main-layout .free .section-description {
  grid-area: section-description;
}
.main-layout .free .button-box {
  grid-area: button-box;
}
.main-layout .footer {
  display: grid;
  grid-template-areas: "general-info services company contacts" ". copyright copyright .";
  grid-template-rows: 4fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main-layout .footer .general-info {
  grid-area: general-info;
}
.main-layout .footer .services {
  grid-area: services;
}
.main-layout .footer .company {
  grid-area: company;
}
.main-layout .footer .contacts {
  grid-area: contacts;
}
.main-layout .footer .copyright {
  grid-area: copyright;
}

.main-layout > * {
  border: 1px solid dimgray;
}

.main-layout {
  width: min(100%, 1440px);
  height: 4294px;
}

.header {
  width: min(100%, 1159px);
  height: 86px;
}

.main-layout {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: rgba(238, 220, 220, 0.2);
}
.header {
  background-color: rgba(100, 100, 100, 0.01);
  display: grid;
}
.header .logo .logo-img {
  margin: 10px;
}
.header .header-link-box .header-link {
  height: 16px;
  margin: 0.3rem;
  margin-top: 20px;
  color: #000000;
}
.header .login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.header .login .login-btn {
  border-radius: 8px;
  width: clamp(100px, 4vw + 4rem, 160px);
  height: calc(16px + 1.5rem);
  margin: 10px;
}
.header .login .log-in {
  background: #16133E;
  border: 2px solid #16133E;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}
.header .login .sign-in {
  border: 2px solid #16133E;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}
.header .line {
  border: 1px solid #EFEEF3;
}

.banner {
  width: 1175px;
  height: 420px;
}

.service {
  width: 1162px;
  height: 529px;
  background: rgba(100, 100, 100, 0.01);
}

.features {
  width: 1157px;
  height: 693px;
}

.price {
  width: 1140px;
  height: 610px;
  background: rgba(100, 100, 100, 0.01);
}

.free {
  width: min(100%, 1152px);
  height: 387px;
  /*background: rgba(100, 100, 100, .3);*/
  background-image: url("../img/ada-bg.png");
}

.footer {
  width: min(100%, 1440px);
  height: 574px;
  background: #16143D;
}

/*# sourceMappingURL=style.css.map */
