@mixin main-sides-padding {
  padding-left: calc(16px + (60 - 16) * ((100vw - 320px) / (1200 - 320)));
  padding-right: calc(16px + (60 - 16) * ((100vw - 320px) / (1200 - 320)));
  @media (min-width: 1200px) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@import '_header';

@import '_banner';

@import '_service';

@import '_features';

@import '_price-plan';

@import '_ada';

@import '_footer';

body {
  .main-layout {
    position: relative;
    width: min(95%, 1200px);
    height: 4294px;
    margin: 0 auto;
    background: rgba(238, 220, 220, .01);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: (7, 1fr);
    gap: 10px 10px;
    grid-template-areas:
    "header"
    "banner"
    "service"
    "features"
    "price-plan"
    "ada"
    "footer";

    align-items: start;

    > * {
      align-self: center;
    }

    .header {
      grid-area: header;
    }

    .banner {
      grid-area: banner;
    }

    .service {
      grid-area: service;
    }

    .features {
      grid-area: features;
    }

    .price-plan {
      grid-area: price-plan;
    }

    .ada {
      grid-area: ada;
    }

    .footer {
      grid-area: footer;
    }

    * {
      border: 1px solid #16133E;
    }
  }
}