{% extends 'layout.twig' %}

{% block body %}
  <section class="banner">
    <div class="section-title">
      <h2>Freehand your brand with a beautifull website</h2>
    </div>
    <div class="section-description">
      <p>
        Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros .
      </p>
    </div>
    <div class="slider-wrapper">
      <div class="slider">
        <img src="./img/rectangle-x.png" alt="Not found">
        <!--                <img src="" alt="Not found">-->
        <!--                <img src="" alt="Not found">-->
        <!--                <img src="" alt="Not found">-->
      </div>
      <div class="control prev-img"></div>
      <div class="control next-img"></div>
    </div>
    <div class="button-box">
      <a href="/view-projects"><button class="view-projects">View projects</button></a>
      <a href="/learn-more"><button class="learn-more">Learn more</button></a>
    </div>
  </section>
  <section class="service">
    <em class="pre-section-title">
      Our services
    </em>
    <div class="section-title">
      <h2>We build experience</h2>
    </div>
    <div class="section-description">
      <p> Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros .</p>
    </div>
    <div class="content-group content-group-1">
      <img class="group-icon" src="./img/design-img.png" alt="design-img.png">
      <em class="group-header">Design</em>
      <p class="group-content">
        Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros .
      </p>
      <a class="learn-more">Learn more</a>
    </div>
    <div class="content-group content-group-2">
      <img class="group-icon" src="./img/ecommerce-img.png" alt="ecommerce-img.png">
      <em class="group-header">Ecommerce</em>
      <p class="group-content">
        Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros .
      </p>
      <a class="learn-more">Learn more</a>
    </div>
    <div class="content-group content-group-3">
      <img class="group-icon" src="./img/application-img.png" alt="application-img.png">
      <em class="group-header">Application</em>
      <p class="group-content">
        Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros .
      </p>
      <a class="learn-more">Learn more</a>
    </div>
  </section>
  <section class="features">
    <em class="pre-section-title">
      Our services
    </em>
    <div class="section-title">
      <h2>We build experience</h2>
    </div>
    <div class="section-description">
      <p>Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros .</p>
    </div>
    <div class="img-placeholder">
      <div class="card">
        <img class="features-image" src="./img/features-img-1.png" alt="">

        <em class="comment-img">
          120 million curious readers and growing.
        </em>
      </div>
      <div class="card">
        <img class="features-image" src="./img/features-img-2.png" alt="">

        <em class="comment-img">
          Expand your reading.
          Expand your mind.
        </em>
      </div>
    </div>
  </section>
  <section class="price">
    <div class="section-title">
      <h2>Choose the plan that’s right for your business</h2>
    </div>
    <div class="section-description">
      <p>Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros .</p>
    </div>
    <div class="price-layout">
      <div class="started-plan started-plan-first">
        <div class="thick-line"></div>
        <em class="plan-name">Started plan</em>
        <em class="plan-cost">Free</em>
        <em class="plan-periodicity">per month</em>
        <em class="plan-description">Lorem ipsum dolor sit amet, coectetur adipiscing elit. </em>
        <a href="/get-started"><button class="button-get-started" type="button" value="">Get started</button></a>
      </div>
      <div class="started-plan started-plan-second">
        <div class="thick-line"></div>
        <em class="plan-name">Started plan</em>
        <em class="plan-cost">$20</em>
        <em class="plan-periodicity">per month</em>
        <em class="plan-description">Lorem ipsum dolor sit amet, coectetur adipiscing elit. </em>
        <a href="/get-started"><button class="button-get-started" type="button" value="">Get started</button></a>
      </div>
      <div class="started-plan started-plan-third">
        <div class="thick-line"></div>
        <em class="plan-name">Started plan</em>
        <em class="plan-cost">$50</em>
        <em class="plan-periodicity">per month</em>
        <em class="plan-description">Lorem ipsum dolor sit amet, coectetur adipiscing elit. </em>
        <a href="/get-started"><button class="button-get-started" type="button" value="">Get Started</button></a>
      </div>
    </div>
  </section>
  <section class="free">
    <div class="section-title" >
      <h2>Get started today and try 30 days free</h2>
    </div>
    <div class="section-description">
      <p>No contact, no set-up costs, just awesome way to organise your money.</p>
    </div>
    <div class="button-box">
      <a href="/try-it"><button class="button-try" type="button" value="">Try if fro free</button></a>
      <a href="/watch-demo"><button class="button-watch-demo" type="button" value="">Watch Demo</button></a>
    </div>
  </section>
{% endblock %}
