{% extends 'layout.twig' %}

{% block body %}
    <h1>
        Portfolio
    </h1>
    <section class="banner">
        <div class="section-title">
            <h2>{{ user }}</h2>
        </div>
        <div class="section-description">
            <p>
                Lorem ipsum dolor sit amet, coectetur adipiscing elit. Suspendisse varius enim in eros .
            </p>
        </div>
        <div class="slider-wrapper">
            <div class="slider">
                <img src="./img/rectangle-x.png" alt="Not found">
                <!--                <img src="" alt="Not found">-->
                <!--                <img src="" alt="Not found">-->
                <!--                <img src="" alt="Not found">-->
            </div>
            <div class="control prev-img"></div>
            <div class="control next-img"></div>
        </div>
        <div class="button-box">
            <button class="view-projects">View projects</button>
            <button class="learn-more">Learn more</button>
        </div>
    </section>
{% endblock %}
